body {
    background: #fafafaf5;
  }
  
  .dino {
    position: absolute;
    bottom: 0;
    background-image: url(img/dino.png);
    width: 70px;
    height: 50px;
  }
  
  .cactus {
    position: absolute;
    width: 60px;
    height: 60px;
    bottom: 0;
    background-image: url(img/cactus.png);
  }
  
  .game-over {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(7, 167, 55);
    font-family: arial;
    font-size: 50px;
  }
  
  @keyframes slideright {
    from {
        background-position: 70000%;
    }
    to {
        background-position: 0%;
    }
  }
  
  .background {
    position: absolute;
    bottom: 0px;
    background-image: url('img/background.png');
    background-repeat: repeat-x;
    animation: slideright 600s infinite linear;
    -webkit-animation: slideright 600s infinite linear;
    width: 100%;
    height: 200px;
}